.dashboard {
	flex: 1;
	background: var(--background-clr);
	padding: 32px;
	position: relative;
	z-index: 2;
	min-height: 100vh;
}

.header {
	width: 100%;
	display: flex;
	gap: 20px;
	margin-bottom: 12px;
}

.create-todo-btn,
.create-todo-input {
	border-radius: 8px;
	font-size: 1rem;
	border: none;
	padding: 20px 12px;
	color: var(--font-clr);
}

.create-todo-input {
	font-family: "Roboto-Light";
	flex: 1;
	background: var(--nav-clr);
	outline: none;
}

.create-todo-btn {
	background: var(--primary-clr);
	color: white;
	font-family: "Roboto-Bold";
	padding-inline: 20px;
	cursor: pointer;
}

.sort {
	/* float: right; */
	color: var(--font-clr);
	margin-left: auto;
	font-size: 1rem;
	background: none;
	border: none;
	width: 120px;
	padding: 8px;
	display: block;
	outline: none;
	/* Custom dropdown icon */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../assets/icons/down-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 0.7rem top 50%;
	background-size: 1.5rem auto;
}

.sort option {
	background-color: var(--nav-clr);
}

.menu-open-btn {
	width: 32px;
	cursor: pointer;
	display: none;
}

small.tip {
	font-family: "Roboto-Light";
	opacity: 0.7;
}

.quote {
	color: var(--font-clr);
	font-family: "Roboto-Light";
	opacity: 0.5;
	text-align: center;
	padding-top: 40px;
	line-height: 40px;
}

@media (max-width: 600px) {
	.create-todo-input {
		display: none;
	}

	.create-todo-btn {
		flex: 1;
	}

	.tip {
		display: none;
	}
}
