nav {
	height: 100vh;
	background: var(--nav-clr);
	position: sticky;
	width: min(100%, 350px);
	top: 0;
	padding-top: 80px;
	transition: 0.4s;
}

.app-title {
	font-family: "Roboto-Slab";
	font-weight: 900;
	font-size: 2.4rem;
	text-align: center;
}

.nav-items {
	padding-block: 40px;
}

.nav-item {
	padding: 20px 40px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.nav-item .icon {
	margin-right: 20px;
}

.create-project-btn {
	font-family: "Roboto-Bold";
	white-space: nowrap;
}

.create-project-btn::before {
	content: "+";
	margin-right: 12px;
}

.project-list-item {
	padding-left: 80px;
	text-transform: capitalize;
}

.project-list-item {
	padding-block: 12px;
}

.nav-item:hover,
.project-list-item:hover {
	cursor: pointer;
	background: var(--hover-clr);
}

.menu-close-btn {
	width: 32px;
	position: absolute;
	right: 20px;
	top: 40px;
	cursor: pointer;
}

.active {
	background: var(--primary-clr);
	color: #fff;
}

.active:hover {
	background-color: var(--primary-clr);
}

.active .icon {
	filter: brightness(1000);
}

.toggle-theme-wrapper {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: end;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.toggle-theme-icon {
	width: 30px;
	aspect-ratio: 1 / 1;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media (max-width: 600px) {
	nav {
		position: absolute;
		z-index: 5;
	}
}
