nav {
    height: 100vh;
    background: var(--nav-clr);
    position: sticky;
    width: min(100%, 350px);
    top: 0;
    padding-top: 80px;
    transition: .4s;
}

.app-title {
    font-family: 'Roboto-Slab';
    font-weight: 900;
    font-size: 2.4rem;
    text-align: center;
}

.nav-items {
    padding-block: 40px;
}

.nav-item {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nav-item .icon {
    margin-right: 20px;
}

.create-project-btn {
    font-family: "Roboto-Bold";
    white-space: nowrap;
}

.create-project-btn::before {
    content: "+";
    margin-right: 12px;
}

.project-list-item {
    padding-left: 80px;
    text-transform: capitalize;
}

.project-list-item {
    padding-block: 12px;
}


.nav-item:hover,
.project-list-item:hover {
    cursor: pointer;
    background: var(--hover-clr);
}

.menu-close-btn {
    width: 32px;
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
}

.active {
    background: var(--primary-clr);
    color: #fff;
}

.active:hover {
    background-color: var(--primary-clr);
}

.active .icon {
    filter: brightness(1000);
}

@media(max-width: 600px) {
    nav {
        position: absolute;
        z-index: 5;
    }
}